<% include ../partials/header.ejs %>

<div class="container border">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Editar cadastro / <%=servico.nome%></h1> <br>

      <form action="/edit/<%=servico.id%>" method="POST">
        <input type="hidden" name="_method" value="put">

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="nome" class="col-form-label">Nome</label>
            <input autofocus type="text" class="form-control" name="nome" id="nome" placeholder="Nome do cliente" value="<%=servico.nome%>">
          </div>     
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="celular" class="col-form-label">Tel. Cel:</label>
            <input type="text" class="form-control" name="celular" id="celular" placeholder="Celular" value="<%=servico.celular%>">
          </div>

          <div class="form-group col-md-6">
            <label for="telefone" class="col-form-label">Tel. Res:</label>
            <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Telefone recidencia" value="<%=servico.telefone%>">
          </div>
        </div>  

        <div class="form-group">
          <label for="endereco" class="col-form-label">Endereço</label>
          <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço" value="<%=servico.endereco%>">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cidade" class="col-form-label">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="cidade" placeholder="Cidade" value="<%=servico.cidade%>">
          </div>

          <div class="form-group col-md-4">
            <label for="estado" class="col-form-label">Estado</label>
            <input type="text" class="form-control" name="estado" id="estado" placeholder="Estado" value="<%=servico.estado%>">
          </div>

          <div class="form-group col-md-2">
            <label for="cep" class="col-form-label">CEP</label>
            <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" value="<%=servico.cep%>">
          </div>
        </div> <hr>
      
        <h2>Descrição de Serviços</h2>

        <div class="form-row">
          <div class="form-group">
            <label for="servicoR">Serviços</label>
            <select class="form-control" name="servicoR" id="servicoR" value="<%=servico.servicoR%>">
              <option><%=servico.servicoR%></option> 
              <option>Funilaria</option>
              <option>Pintura</option>
              <option>Mecânica</option>
              <option>Elétrica</option>
              <option>Transferência</option>
              <option>Shaken</option>
            </select>
          </div>     
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-form-label" for="outros">Outros</label>
            <input type="text" class="form-control" name="outros" id="outros" placeholder="Outros tipos de serviços" value="<%=servico.outros%>"> 
          </div>              
        </div>

        <p>
          <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Observação
          </a>
        <div class="collapse" id="collapseExample">
          <div class="form-group ">
            <label for="obs">Observeções</label>
            <textarea class="form-control" name="obs" id="obs" rows="3"><%=servico.obs%></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="notas">Descrição do produto/peça</label>
            <textarea class="form-control" name="notas" id="notas" rows="6"><%=servico.notas%></textarea>
          </div>

          <div class="form-group col-md-2">
            <label for="valorPeca" class="col-form-label">Valor</label>
            <input type="text" class="form-control" name="valorPeca" id="valorPeca" value="<%=servico.valorPeca%>"> 
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <p>Daisha</p> 
            <label for="daishaS" class="custom-control custom-checkbox">  
              <input type="checkbox" class="custom-control-input" name="daishaS" id="daishaS" value="<%=servico.daishaS%>">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Sim</span>
            </label>
            
            <label for="daishaN" class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="daishaN" id="daishaN" value="<%=servico.daishaN%>">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Não</span>
            </label> 

            <small>(Favor assinar o termo de responsabilidade do empréstimo do daisha)</small>
          </div>        
        </div>

        <div class="form-row">
          <div class="form-inline">      
            <label class="col-form-label" for="marca">Marca:</label>
            <input type="text" class="form-control col-md-6 border-top-0 border-left-0 border-right-0 rounded-0" name="marca" id="marca" value="<%=servico.marca%>">
          </div>  

          <div class="form-inline">      
            <label class="col-form-label" for="modelo">Modelo:</label>
            <input type="text" class="form-control col-md-6 border-top-0 border-left-0 border-right-0 rounded-0" name="modelo" id="modelo" value="<%=servico.modelo%>">
          </div>  

          <div class="form-inline">      
            <label class="col-form-label" for="placa">Placa:</label>
            <input type="text" class="form-control col-md-6 border-top-0 border-left-0 border-right-0 rounded-0" name="placa" id="placa" value="<%=servico.placa%>">
          </div>  
        </div> <hr>

        <h2>Condições De Pagamento</h2><br>

        <div class="row">
          <div class="form-group col-md-2">
            <label class="form-inline" for="avista"> A Vista: </label>
            <input type="text" class="form-control " name="avista" id="avista" value="<%=servico.avista%>">
          </div>  
        </div>

        <div class="form-row">

          <div class="form-inline">
            <label class="col-form-label" for="parcela"> Parcelado em: </label>
            <input type="text" class="form-control col-md-1 border-top-0 border-left-0 border-right-0 rounded-0" name="parcela" id="parcela" value="<%=servico.parcela%>">

            <label class="col-form-label" for="parValor">Vezes de: </label>
            <input type="text" class="form-control col-md-2 border-top-0 border-left-0 border-right-0 rounded-0" name="parValor" id="parValor" value="<%=servico.parValor%>">

             <label class="col-form-label" for="entrada"> entrada: </label>
            <input type="text" class="form-control col-md-3 border-top-0 border-left-0 border-right-0 rounded-0" name="entrada" id="entrada" value="<%=servico.entrada%>">
          </div>   
        </div><br>




        <div class="row">
          <div class="col-md-6">
            <label for="vtotal"> Valor Total: </label>
            <input type="text" class="form-control col-md-4" name="vtotal" id="vtotal" value="<%=servico.vtotal%>">
          </div>  
        </div> <br> 

        <div class="row">
          <div class="col-md-3">
            <label for="dataC" class="col-form-label">Data de Pedido</label>
            <input type="date" class="form-control" name="dataC" id="dataC" placeholder="Data de cadastro" value="<%=servico.dataC%>">
          </div> 
        </div>   
    

        <br><br>
        <button type="submit" class="btn btn-outline-primary">Salvar</button>
        <a href="/cadastro/<%=servico.id%>" class="btn btn-primary">Voltar</a>
      </form><br>

    </div>
  </div>
</div> <br> 



<% include ../partials/footer.ejs %>

