<div class="clausula">
  

  <h3 class="page-break text-center"> <ins> Cláusulas e condições do contrato </ins></h3>

  <label class="form-inline">
    <p>Pelo presente instrumento particular e na forma de direito, de um lado Sr. Ferreira Kobori da Silva Gustavo, portador da carteira de identidade nº FU 6952 4932 JE, residente e domiciliado em Aichi Ken Toyohashi-shi Sato - Cho 1 Choume 9-1 2-1002 denominado como VENDEDOR, e por outro lado o Sr. (Sra.)<small class="linha"><%=contrato.comprador%></small> portator(a) da carteira de identidade nº <small class="linha"><%=contrato.identidade%></small>, residente e domiciliado (a) em <small class="linha"><%=contrato.residente%></small>. Neste ato denomidado (a) como <i>COMPRADOR</i> (A), contratam a compra e venda do veículo de<br> Marca: <small class="linha"><%=contrato.compradorMarca%></small> Modelo: <small class="linha"><%=contrato.compradorModelo%></small> Ano: <small class="linha"><%=contrato.compradorAno%></small> Chassi: <small class="linha"><%=contrato.compradorChassi%></small><br> Placa: <small class="linha"><%=contrato.compradorPlaca%></small>, licenciado na cidade de TOYOHASHI, Achi - ken, mediantes cláusulas e condições a seguir:</p>
    <p><strong>Cláusula 1º</strong> - O preço da venda será efetuado conforme as condições e valores mencionados no contrato de compra e venda de veículos.</p>
    <p><strong>Cláusula 2º </strong> - O veículo acima mencionado encontra-se alienado pelo <i>VENDEDOR</i> Ferreira Kobori da Silva Gustavo. O <i>COMPRADOR</i> ficará responsável, após a assinatura do presente e data, pela total quitação das parcelas pendentes, isentando o <i>VENDEDOR</i> de qualquer responsabilidade que venha a correr provenientes de multas, documentação atrasada ou algum tipo de infração e/ou encargos que venha a ocorrer sobre o referido veículo ou a terceiros. </p>
    <p style="margin: auto;"><b><ins>PARÁGRAFO ÚNICO</ins></b></p>
    <p>O presente contrato será automaticamente rescindido, independente de qualquer aviso ou interpelação administrativa e/ou judicial, pela ocorrência de infração a qualquer de suas cláusulas, especialmente pelo atraso de 02 (duas) parcelas, sujeito a retomada imediata do veiculo e perda dos valores já pagos.</p>
    <p><strong>Cláusula 3º</strong> - O <i>VENDEDOR</i> se compromete, após quitação das parcelas pendentes, a assinar e outorgar toda e qualquer documentação necessária para total transferência do referido veículo para o nome do <i>COMPRADOR</i></p>
    <p><strong>Cláusula 4º</strong> - É vedada ao <i>COMPRADOR</i> vender, ceder, doar ou dar como garantia em qualquer tipo de negociação o referido veículo, antes da total quitação da alienação do mesmo.</p>
    <p><strong>Cláusula 5º</strong> - O <i>COMPRADOR</i> responderá por todos os danos causados direta ou indiretamente pelo veículo, a si ou a terceiros, e por todos os riscos a que o veículo estiver sujeito pelas consequências daí resultantes.</p>
    <p><strong>Cláusula 6º</strong> - De comum acordo, as partes convecionam que uma vez rescindida a compra e venda por inadimplência do <i>COMPRADOR</i>, será devida uma multa equivalente a 20% (vinte por cento) sobre o valor do negócio em favor do <i>VENDEDOR</i>, independente das perdas, danos e demais reparações necessárias a recompor o veículo ao seu estado de conservação e utilidade da época da venda.</p>
    <p><strong>Cláusula 7º</strong> - O presente intrumento é irrevogável e irretratável, não sendo facultativa a nenhuma das partes o direito de arrependimento, bem como seus herdeiros e/ou sucessores deverão cumprir fielmente o disposto.</p>
    <p>Estando juntos e acordados, os presentes assinam em 02 (duas) vias de igual teor e forma perante a presença de duas testemunhas maiores, capazes e aqui domiciliadas que a tudo presenciaram.</p>

  </label>

      <div class="form-inline justify-content-md-center col-md-12" style="margin-top: -3%;">
       <p>Data: <%=contrato.dataContrato%></p>
      </div>  
    
      <div class="form-inline">
        <p>Vendedor:</p>
        <div class="linhaB col-md-8"></div>
      </div>

      <div class="form-inline">
        <p>Comprador:</p>
        <div class="linhaB col-md-8"></div>
      </div> 

       <div class="form-inline">
        <p>Testemunha 1:</p>
        <div class="linhaB col-md-4"></div>
        <p>Zairyu Card:</p>
        <div class="linhaB col-md-4"></div>
      </div> 

       <div class="form-inline">
        <p>Testemunha 2:</p>
        <div class="linhaB col-md-4"></div>
        <p>Zairyu Card:</p>
        <div class="linhaB col-md-4"></div>
      </div> 
  
     
</div>












